node_modules
client/package-lock.json
node_modules
npm-debug.log
.idea/awareness.iml
*.xml
client/src/components/message.js
client/src/scss/standardSettings
client/src/index.css
*.lock
client/yarn.lock
*.lock
client/package-lock.json
package-lock.json
package-lock.json
client/src/standardSettings.css
*.css
*.map
client/debug.log
