

// COLOR VARIABLES
$color-white-gradient-1: rgba(232, 232, 232, 0.8);
$color-white-gradient-2: rgba(217, 217, 217, 0.8);
$color-grey-bg: rgba(0, 0, 0, 0.8);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(117, 117, 117);

$color-bg: rgba(249, 249, 249, 0.95);
$color-text: #4F4F4F;
$color-title: #333333;
$color-accent: #2F80ED;

// FONT VARIABLES
$font-primary:  "Montserrat", sans-serif, Italic;
$font-secondary: "LIBRE BASKERVILLE", serif;

$font-text:  "Montserrat", sans-serif, Italic;
$font-titel: "Arial", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-ext: 53em; // 848px;
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-height: $bp-medium) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 37.5%;
    }
}

.statistics-container {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(5, [page] minmax(600px, 100vh));
    grid-template-columns: minmax(320px, 100vw);

    background-color: $color-bg;
}

.container {
    &-statistics {
        z-index: 30;
        position: absolute;
    }
    &-ball {
        z-index: 10;
    }
    &-glossar {
        z-index: 30;
    }
    &-glossar2 {
       
        display: grid;
        align-content: center;
        justify-items: center;
        text-align: center;
        color: $color-black;
        display: grid;
        position: absolute;
        z-index: 30;
        width: 100vw;
        height: 100vh;
        background: #f7f7f7b0;
        box-shadow: 0 0 20px 7px #717171;
    }
}

.z50 {
    z-index: 50;
}