.vl {
    grid-row: 10;
    grid-column: 7; 

    align-self: end;
    justify-self: end;

    content: "";
    height: 40px;
    width: 4px;
    display: block;
    background-color: currentColor;


    &--1 {
        transform: translateX(-14px);
        
    }

    &--3 {
        transform: translateX(14px);
    }
}