.navigation {
    font-family: $font-secondary;
    font-size: 3rem;
    
    align-self: center;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 5rem;
    padding-left: 8rem;

    span {
        font-family: $font-primary;
        padding-left: 2.5rem;
    }
}

.line {
    grid-row: 1 / 3;
    grid-column: 1;
    align-self: center;
    content: "";
    height: 3px;
    width: 50px;
    display: block;
    background-color: currentColor;

    &-anim {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 5s linear forwards;
    }
    &--hashtags {
        //align-self: left;
        grid-row: 9;
        grid-column: 8;
        transform: translateY(-2rem);
        justify-self: center;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.header {

    color: $color-black;


    &__titel {
        font-family: $font-secondary;
        font-size: 5.4rem;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 5.4rem * 0.13;
        margin-bottom: 5rem;

        &--highlight {
            font-style: normal;
            font-weight: 800;
        }
    }

    &__content {
        font-size: 1.8rem;
        font-weight: 600;
        width: 46rem;
        line-height: 1.8rem * 1.6;
        letter-spacing: 1.8rem * 0.13;
    }

    &__link {
        margin-top: 10rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1.5rem * 0.25;
        border: solid 2px;
    }
}

.white {

    color: $color-black;


    &__titel {
        grid-row: 3 / 6;
        grid-column: 1 / 15;
        align-self: center;
        font-family: $font-secondary;
        font-size: 5.4rem;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 5.4rem * 0.13;
        margin-bottom: 5rem;

        &--highlight {
            font-style: normal;
            font-weight: 800;
        }
    }

    &__content {
        grid-row: 5 / 10;
        grid-column: 1 / 15;
        align-self: center;
        font-size: 1.8rem;
        font-weight: 600;
        width: 46rem;
        line-height: 1.8rem * 1.6;
        letter-spacing: 1.8rem * 0.13;

        &--large {
            width: 64.8rem;
        }
    }
}

.black {

    &__titel {
        grid-row: 3 / 4;
        grid-column: 2 / 10;
        font-weight: 600;
        font-size: 4.8rem;
        letter-spacing: 4.8rem * 0.2;
    }

    &__text {

        width: 411px;
        font-weight: 300;
        line-height: 28px;
        font-size: 20px;
        letter-spacing: 0.06em;
        color: #BDBDBD;

        &--1 {
            grid-row: 5 / 10;
            grid-column: 3 / 10;
        }

        &--2 {
            grid-row: 5 / 8;
            grid-column: 8 / 10;
        }

        &--hashtags {
            grid-row: 9;
            grid-column: 9 / 11;
        }
    }


}

.gradient {
    &__titel {
        
        grid-row: 3 / 4;
        grid-column: 2 / 10;
        text-transform: uppercase;
        width: 899px;
        font-weight: 600;
        font-size: 4.8rem;
        letter-spacing: 4.8rem * 0.2;
    }
    &__text {
        margin-left: 7rem;
        grid-row: 5 / 10;
        grid-column: 3 / 10;
        width: 386px;
        font-weight: 300;
        line-height: 2.8rem;
        font-size: 2rem;
        letter-spacing: 2rem * 0.06;
    }

    &__statistic {
        text-align: center;
        padding-top: 5rem;
        grid-row: 2 / 10;
        grid-column: 10 / 13;
        font-weight: 300;
        line-height: 2.8rem;
        font-size: 1.6rem;
        letter-spacing: 2rem * 0.06;
        transform: translateX(-6rem);

        p {
            margin-bottom: 5rem;
        }
        

        span {
            font-weight: normal;
            line-height: normal;
            font-size: 36px;
            text-align: center;
            letter-spacing: 0.15em;
        }

        :first-child {
            text-transform: uppercase;

            span {
                font-size: 112px;
            }
        }
    }
    
}