.navigation {
    font-family: $font-secondary;
    font-size: 3rem;
    grid-column: 1 / 5;
    padding: 5rem;
    padding-left: 8rem;
    color: #FFFFFF;

    span {
        font-family: $font-primary;
        padding-left: 2.5rem;
    }
}

.white {

    &__titel {
        font-family: $font-secondary;
        font-size: 5.4rem;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 5.4rem * 0.13;
        margin-bottom: 5rem;

        &--highlight {
            font-style: normal;
            font-weight: 800;
        }
    }

    &__content {
        font-size: 1.8rem;
        font-weight: 600;
        width: 46rem;
        line-height: 1.8rem * 1.6;
        letter-spacing: 1.8rem * 0.13;
    }

    &__link {
        margin-top: 10rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        padding: 0.5rem 1rem;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1.5rem * 0.25;
        border: solid 2px;
    }
}

.black {

    &__titel {
        grid-row: 3 / 4;
        grid-column: 2 / 10;
        font-weight: 600;
        font-size: 4.8rem;
        letter-spacing: 4.8rem * 0.2;
        color: #FFFFFF;
    }

    &__text {

        width: 411px;
        font-weight: 300;
        line-height: 28px;
        font-size: 20px;
        letter-spacing: 0.06em;
        color: #BDBDBD;

        &--1 {
            grid-row: 5 / 10;
            grid-column: 3 / 10;
        }

        &--2 {
            grid-row: 5 / 8;
            grid-column: 8 / 10;
        }
    }
}

.gradient {
    color: #FFFFFF;
    font-style: normal;
    &__titel {
        
        grid-row: 3 / 4;
        grid-column: 2 / 10;
        text-transform: uppercase;
        width: 899px;
        height: 137px;
        font-weight: 600;
        line-height: normal;
        font-size: 48px;
        letter-spacing: 0.2em;
    }
    &__text {
        margin-left: 7rem;
        grid-row: 5 / 10;
        grid-column: 3 / 10;
        width: 386px;
        height: 437px;
        font-weight: 300;
        line-height: 28px;
        font-size: 20px;
        letter-spacing: 0.06em;
    }

    &__statistic {
        text-align: center;
        padding-top: 5rem;
        grid-row: 2 / 10;
        grid-column: 10 / 13;
        font-weight: 300;
        line-height: 28px;
        font-size: 1.6rem;
        letter-spacing: 0.06em;
        transform: translateX(-6rem);

        p {
            margin-bottom: 5rem;
        }
        

        span {
            font-weight: normal;
            line-height: normal;
            font-size: 36px;
            text-align: center;
            letter-spacing: 0.15em;
        }

        :first-child {
            text-transform: uppercase;

            span {
                font-size: 112px;
            }
        }
    }
    
}