.navigation {
    font-family: $font-secondary;
    font-size: 3rem;
    
    align-self: center;
    justify-self: left;
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 5rem;
    padding-left: 8rem;

    span {
        font-family: $font-primary;
        padding-left: 2.5rem;
    }
}

.line {
    grid-row: 1;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: left;
    content: "";
    height: 0.3rem;
    width: 5rem;
    display: block;
    background-color: currentColor;
}