.navigation {
    font-family: $font-secondary;
    font-size: 3rem;
    
    align-self: center;
    justify-self: left;
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 3rem;
    padding-left: 8rem;
    @media only screen and (max-height: 53em) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    span {
        font-family: $font-primary;
        padding-left: 1.5rem;
    }
}

.line {
    grid-row: 1;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: left;
    content: "";
    height: 0.3rem;
    width: 5rem;
    display: block;
    background-color: currentColor;
}