.gradient {
    background: linear-gradient(128.67deg, rgba(229, 233, 255, 0.8439) 18.34%, rgba(255, 195, 195, 0.7743) 95.15%), #000000;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: 1fr repeat(12, 12rem) 1fr;

    &__titel {
        
        grid-row: 3 / 4;
        grid-column: 2 / 10;
        text-transform: uppercase;
        width: 899px;
        font-weight: 600;
        font-size: 4.8rem;
        letter-spacing: 4.8rem * 0.2;
    }
    &__text {
        margin-left: 7rem;
        grid-row: 5 / 10;
        grid-column: 3 / 10;
        width: 386px;
        font-weight: 300;
        line-height: 2.8rem;
        font-size: 2rem;
        letter-spacing: 2rem * 0.06;
    }

    &__statistic {
        text-align: center;
        padding-top: 5rem;
        grid-row: 2 / 10;
        grid-column: 10 / 13;
        font-weight: 300;
        line-height: 2.8rem;
        font-size: 1.6rem;
        letter-spacing: 2rem * 0.06;
        transform: translateX(-6rem);

        p {
            margin-bottom: 5rem;
        }
        

        span {
            font-weight: normal;
            line-height: normal;
            font-size: 36px;
            text-align: center;
            letter-spacing: 0.15em;
        }

        :first-child {
            text-transform: uppercase;

            span {
                font-size: 112px;
            }
        }
    }
    
}