.accesslinks {
    &_pos {
      right: 7vw;
      top: -3vh;
      position: absolute;
    }
    &__line {
      opacity: 0.4;
      &-pos {
        width: 100%;
        top: 7vh;
        z-index: 120;
      }
    }
  }

.btn-text {

    &,
    &:link,
    &:visited {
        transition: all .1s;
        background: none;
        border: none;
        outline: none;
        position: relative;
        cursor: pointer;

        padding-bottom: 6px;

        &:not(:last-child) {

            margin-right: 4rem;
        }
    }

    &:hover {
        color: $color-black;
        font-weight: 700;
        letter-spacing: 2.8px;
    }

    &:nth-of-type(1):hover ~ .underbar{
        left: -1rem !important;
        width: 6rem !important;
    }
    &:nth-of-type(2):hover ~ .underbar{
        left: 6rem !important;
        width: 11rem !important;
      }
      &:nth-of-type(3):hover ~ .underbar{
        left: 18rem !important;
        width: 13rem !important;
      }

      &:nth-of-type(4):hover ~ .underbar{
        left: 32rem !important;
        width: 9rem !important;
      }
}

.underbar{
    height: 0.5rem;
    left: -1rem;
    width: 6rem;
    background: rgb(255, 255, 255);
    top: 4.85vh;
    position: absolute;
    -webkit-transition: 0.5s ease;
  }