.accesslinks {
  &_pos {
    right: 15vh;
    top: -3vh;
    position: absolute;
  }
  &__line {
    opacity: 0.4;
    &-pos {
      width: 100%;
      top: 7vh;
    }
  }
  &_link {
    &:first-child {
      margin-right: 40px;
    }
  }
}