.button {
  &-basic {
    background: none;
    padding: 12px;
    //border: 1px solid white;


    /* Ellipse 3.1 */
    background: transparent !important;

  }
  &-gradient {
    background: none;
    padding: 17px;
    border-radius: 20px;
    background: linear-gradient(220deg, #c8f3ff, #5cceff 90%);
    margin-left: -3%;
    color: white;
    letter-spacing: 3px;
    font-size: $f-xs;
    border: inherit;

    cursor: pointer;
    display: block;

    background: linear-gradient(18.83deg, #4F4F4F 13.67%, #333333 262.91%), #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 1px;

  }
  &-startAnim {
    //animation: button-move-start 5s forwards; /* IE 10+, Fx 29+ */
    margin-top: 12rem;
    left: 8.9%;
  }

}


@keyframes button-move-start {
  0% {
    opacity: 0;
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}