.startInfo {
  &-intro{
    &-textindent{
      margin-top: 1%;
      margin-left: 34%;
    }
  &_pos {
    right: 4.8%;
    width: 20%;
    top: 53vh;
    position: absolute;

  }}
  &_pos {

    top: 16vh;
    position: absolute;
    margin-left: 9vh;
    height: 20vh;
    width: 55%;
  }
  &-container {
    width: 100%;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    z-index: 20;
  }
  &-gradientbutton {
    margin-top: 20px;
  }
}


.startCircle {

  height: 90px;
  width: 90px;
  /* border: 1.5px solid white; */
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 42vh;
  margin: auto;
}
