.startInfo {
  &-intro{
    &-textindent{
      margin-top: 3%;
      margin-left: 3%;
    }
  &_pos {
    right: 4.8%;
    width: 20%;
    top: 53vh;
    position: absolute;

  }}
  &_pos {

    top: 18vh;
    position: absolute;
    margin-left: 6vh;
    height: 20vh;
    width: 55%;
    z-index: 20;
  }
  &-container {
    width: 100%;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    z-index: 20;
  }
  &-gradientbutton {
    margin-top: 20px;
    margin-left: 5px;
  }
}


.startCircle {

  height: 75px;
  width: 75px;
  /* border: 1.5px solid white; */
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 38vh;
  position: absolute;
  margin: auto;
  transition:  0.3s ease-out;

  &:hover {
    height: 70px;
    width: 70px;
  }
}
