.startInfo {
  &-intro{
    &-textindent{
      margin-top: 6%;
      margin-left: 4%;
    }
  &_pos {
    right: 4.8%;
    width: 20%;
    top: 53vh;
    position: absolute;

  }}
  &_pos {

    top: 18vh;
    position: absolute;
    margin-left: 6vh;
    height: 20vh;
    width: 55%;
    z-index: 20;
  }
  &-container {
    width: 100%;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    z-index: 20;
  }
  &-gradientbutton {
    margin-top: 20px;
    margin-left: 5px;
  }
}

.startCircle {

  height: 25px;
  width: 25px;
  /* border: 1.5px solid white; */
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 38vh;
  position: absolute;
  margin: auto;
  transition:  0.3s ease-out;
  //border: 3px solid $button-start;

  & p {
    left: 41px;
    top: 3px;
    position: absolute;
  }
  &-small {
    height: 9px;
    width: 9px;
    left: 7px;
    top: 7px;
    background-color: $button-start;
    border-radius: 50%;
    position: absolute;
    /* border: 1px solid white; */
    box-shadow: 0px 1px 5px #8b8b8b;
    &-anim {
      transition: 0.3s ease-out;
      animation: animLilCircle 0.2s linear;
    }
  }
}
.startButtonListener {
  position: absolute;
  //background-color: rgba(255, 99, 71, 0.31);
  width: 103px;
  height: 40px;
  margin-top: 37vh;
  left: 48.5%;
  z-index: 130;
  cursor: pointer;


}
.startAnimSvg {
  margin-top: 37.6vh;
  margin-left: -16px;
  z-index: 90;
  //box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.22);
  transition: 0.5s ease-out;
  position: absolute;
  //transform: rotate(-30deg);
  //margin-top: 37.2vh;
  //margin-left: -15px;

}


.startButtonHoverAnimation{
  -webkit-animation: hoverTransformation 0.5s forwards;
  -o-animation: hoverTransformation 0.5s forwards;
  animation: hoverTransformation 0.5s forwards;
  //border: #8de6ff solid !important;
}
.startButtonHoverAnimationLeave{
  -webkit-animation: hoverTransformationLeave 0.5s forwards;
  -o-animation: hoverTransformationLeave 0.5s forwards;
  animation: hoverTransformationLeave 0.5s forwards;
}

/* START ANIMATIONS */
@keyframes hoverTransformation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;

  }
}

@keyframes hoverTransformationLeave {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.circleSvg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #ff7e9e;
}
.startCircleSvg {
  stroke-dasharray: 100;
  animation: dash 6.3s linear forwards;
  &-hover {
    animation: dash-hover 3.3s linear forwards;
  }
}
@keyframes animLilCircle {
  0% {
    //transform: scale(1);
    background-color: tomato;
  }
  100% {
    transform: scale(1.8);
    background-color: tomato;

  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 83;

  }
  to {
    stroke-dashoffset: 500;
  }
}
@keyframes dash-hover {
  from {
    stroke-dashoffset: 100;

  }
  to {
    stroke-dashoffset: 300;
  }
}