.headline {
  &-xl {
    //font-family: "Butler Stencil", "Libre Baskerville", serif;
    //font-weight: 400;
    font-family: "Archivo Narrow", serif;
    color: $headline-main;
    font-size: calc(#{$f-xl} + 0.8rem);
    font-weight: 900;
    letter-spacing: 5.2px;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.04);
    animation:   headline-xl-toggle 5s forwards; /* IE 10+, Fx 29+ */
    @media screen and (max-width: 1440px) {
      font-size: calc(#{$f-xl} - 1.2rem);
    }
    &-animBack {
      animation:   headline-xl-toggleBack 2.5s forwards; /* IE 10+, Fx 29+ */
    }

  }
  &-lg {
    font-family: "Roboto Mono", sans-serif;
    color: $text-main;
    font-size: calc(#{$f-xs} + 0.2rem);
    letter-spacing: 3px;
    font-weight: 400;
    animation:   headline-lg-toggle 5s forwards; /* IE 10+, Fx 29+ */
    &-animBack {
      animation:   headline-lg-toggleBack 2.5s forwards; /* IE 10+, Fx 29+ */
    }
  }
}

.text {
  &-md {
    font-family: "Roboto Mono", sans-serif;
    color: $text-main;
    font-size: calc(#{$f-xs} + 0.9rem);
    letter-spacing: 4px;
    line-height: 1.7;
    font-weight: 600;
    //text-transform: uppercase;
    @media screen and (max-width: 1440px) {
      font-size: calc(#{$f-xs} + 0.6rem);
      letter-spacing: 3px;
    }
  }
  &-sm {
    font-family: "Montserrat", sans-serif;
    color: $text-main;
    font-size: calc(#{$f-xs} + 0.2rem);
    letter-spacing: 3px;
    line-height: 1.4;
    font-weight: 600;
  }
  &-button {
    font-family: "Roboto Mono", sans-serif;
    color: $button-start;
    font-size: calc(#{$f-xs} + 0.9rem);
    letter-spacing: 3px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase !important;
    @media screen and (max-width: 1440px) {
      font-size: calc(#{$f-xs} + 0.6rem);
    }
  }
}

.t-transform {
  &-uppercase {
    text-transform: uppercase;
  }
  &-lowercase {
    text-transform: lowercase;
  }
}

.t-italic {
  font-style: italic;
}


.a {
  &-sm {
    text-decoration: none;
    font-weight: 400;
  }
  &-startAnim {
    animation:   headline-xl-toggle 5s forwards; /* IE 10+, Fx 29+ */
  }
}



.startAnimHeadline {
  animation:   headline-xl-toggle 2s forwards; /* IE 10+, Fx 29+ */
}
.startAnimInfoText {
  animation:   startInfoText-toggle 2s forwards; /* IE 10+, Fx 29+ */
}


/* TEXT ANIMATIONS */
@keyframes headline-xl-toggle {
  0% {
    opacity: 0;
    //transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0.4rem);
    opacity: 1;
  }
}

/* TEXT ANIMATIONS */
@keyframes startInfoText-toggle {
  0% {
    opacity: 0;
    //transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(-0.4rem);
    opacity: 1;
  }
}

@keyframes headline-lg-toggle {
  0% {
    opacity: 0;
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes headline-xl-toggleBack {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    //opacity: 0;
    transform: translateY(-130vh);
  }
}

@keyframes headline-lg-toggleBack {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    //opacity: 0;
    transform: translateY(-130vh);
  }
}