.text{
  text-align: left;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #FFFFFF;

  align-self: center;
}

.chatrunning{
  align-self: center;
  //height: 600px;
  border-style: solid;
  border-width: thin;
  border-color: #FFFFFF;
  overflow: hidden;
}

.chat{
  width: 100%;

  &-q{

  color: #FFFFFF;
  background-color: #404040;
  padding: 15px;
  margin-top: 5px;
  margin-left: 90px;
  margin-right: 3px;
  border-radius: 15px 0px 15px 15px;
  }

  &-a{
  color: #404040;
  background-color: #FFFFFF;
  padding: 15px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 90px;
  border-radius: 0px 15px 15px 15px;
  }
}


.grid-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  height: 100%;
}

.grid-item1 {
  grid-column: 1;
  grid-row: 1;
  width: 400px;
  
  height: 70%;
  position: absolute;    
  align-self: auto;
  align-content: end;
  display: grid;
  padding-bottom: 4px;
}

.grid-item2 {
  grid-column: 1;
  grid-row: 3;
  width: 400px;
  bottom: -30px;
  position: absolute;
  

}

.grid-item3 {
  grid-column: 2;
  grid-row: 2;
  width: 400px;
  justify-self: right;
}


.interaction {
  &-container{
    width: 100%;
    
    overflow: hidden;
  }

  &_pos {
    display: grid;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
  }

  &-button {
    color: #404040;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
    width: 100%;
    padding: 15px;
    
  border-radius: 15px;
  }

  &-answer {
    padding: 2px;
    width: 100%;
  }

  @media only screen and (orientation : portrait){
    &-flex {
      justify-content: center;
    }
  }
}

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}