/*///////////////////////////////////////////////////////////////////////
/////// MAIN SCSS FILE -> IMPORT ALL SUBFILES*/

//@import "statistics/main-statistics";
@import 'statistics/base';
@import 'statistics/sections';
@import 'statistics/typography';

@import "import_fonts";
@import "variables";
@import "standardSettings";


/*import components*/
@import "./components/three.scss";
@import "./components/text.scss";
@import "./components/startPage.scss";
@import "./components/buttons.scss";
@import "./components/accesslinks.scss";

html {
  background-color: #c0c4cf;
}
body {
  background-color: $bg-color;
  background: radial-gradient(ellipse at center, #dedfe8 0%, #b5bac4 100%);

  background-repeat: no-repeat;
  height:100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
