.pos {
  &-absolute {
    position: absolute;
    z-index:10;
  }
  &-centerText {
    width: 100%;
    text-align: center;
  }

  &-bottom {
    bottom:5vh;
  }
}

.margin {
  &-line {
    margin: 20px 0 20px;
  }
}